name: ci

on:
  pull_request:
    branches:
      - 'master'
  push:
    branches:
      - 'master'

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v2
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: '20'
          cache: pnpm

      - run: pnpm i

      - run: pnpm exec prettier --check ./
      - run: pnpm exec tsc
      - run: pnpm run lint
      - run: pnpm run build

  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive
      - uses: pnpm/action-setup@v2

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: '20'
          cache: pnpm

      - run: pnpm i

      - run: pnpm run test --coverage

      - name: Upload Coverage to Codecov
        uses: codecov/codecov-action@v5
